,
::before,
::after{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    font-family: 'SF Pro Display', sans-serif;
}

a{
    display: block;
    text-decoration: none;
}

.container{
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

header{
    position: fixed;
    top: 0;
    z-index: 1400;
    width: 100%;
    height: 4.4rem;
    background-color: rgba(0,0,0,.8);
    backdrop-filter: blur(2rem);
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
}

.nav-list-mobile{
    display: none;
}

.nav-link{
    font-size: 1.4rem;
    color: #fff;
    padding: 0 1rem;
    transition: opacity .5s;
}

.nav-link:hover{
opacity: .7;
}

.MacBook{
    height: 69.2rem;
    background: url(images/Apple-WWDC22-MacBook-Air-4up-colors-hero-220606.jpg);
    margin-top: 4.4rem;
    
}

.title{
    color: black;
    text-align: center;
    padding-top: 5.5rem;
}

.title-heading{
    font-size: 5.6rem;
    line-height: 1.07143;
    letter-spacing: -.005rem;
}

.title-sub-heading{
    font-size: 2.65rem;
    margin-top: .6rem;
    letter-spacing: .008rem;
    font-weight: 400;
}

.title-price{
    font-size: 1.7rem
    color: #888;
    margin-top: 1.8rem;
}

.cta{
    text-align: center;
    margin-top: 1.8rem;
}

.cta-link{
    color:#66bbff;
    font-size: 2.1rem;
    display: inline-block;
}

.cta-link:nth-child(2){
    margin-left: 2.6rem;
}
.cta-link:hover{
    border-bottom: 2px solid #66bbff;
}

.iphone-13{
    background: url(images/OIP.jfif);
}

.title-dark{
    color: rgba(0,0,0,.8);
}

.cta-link-darker{
    color:#0070c9;
}
.cta-link-darker:hover{
    border-bottom-color: #0070c9;
}

.watch{
    background: url(images/OIP\ \(3\).jfif);
}
.title-heading-watch{
    height: 7.8rem;
    background: url(images/OIP\ \(2\).jfif) center no-repeat;
    background-size: auto 7.8rem;
    margin-top: 1.6rem;
}







.hero{
    height: 69.2rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-top: .6rem solid #fff;
    border-bottom: .6rem solid #fff;
}


.MacBook{
    border-top: none;
}


@media  screen and (max-width: 1068px) {
    .MacBook{
        background: url(images/Apple-WWDC22-MacBook-Air-4up-colors-hero-220606.jpg);
    }
    
    .iphone-13{
        background: url(images/OIP.jfif);
    }
.watch{
    background: url(images/OIP\ \(3\).jfif);
}
    .hero{
        height: 65rem;
        background-size: auto 69.8rem;
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    .title-heading{
        font-size: 4.4rem;

    }

    .title-sub-heading{
        font-size: 2.4rem;
    }

    .cta-link:nth-child(2){
        margin-left: 2rem;
    }

    .title-heading-watch{
        height: 6.2rem;
        background: url(images/OIP\ \(2\).jfif) center no-repeat;
        background-size: auto 6.2rem;

    }

}

@media  screen and (max-width: 767px) {
header{
    height: 4.8rem;
    
}
header .container{
    padding: 0:
}

.MacBook{
    margin-top: 4.8rem;
}

.nav-list{
    margin-top: 0;
}

.nav-list-mobile{
    display: flex;
}

.nav-item{
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
}

.nav-item-hidden{
    display: none;
}

.mobile-menu{
    position: relative;
    z-index: 1500;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.line{
position: absolute;
width: 1.7rem;
height: 1px;
background-color: #fff;
transition: margin-top .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) ;
}

.line-top{
    margin-top: -.4rem;
}

.line-bottom{
    margin-top: 0;
 
}

.active .line-top{
    margin-top: 0;
    transform: rotate(45deg);
    transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96) ;
}

.active .line-bottom{
    margin-top: 0;
    transform: rotate(-45deg);
    transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96) ;
}

header .active{
    height:100%;
    background-color: rgba(0,0,0,.8);
}

.nav-link-apple{
    width: 1.8rem;
    height: 4.8rem;
    position: relative;
    z-index:1500;
}

.nav-link-bag{
    width 1.6rem;
    height:4.8rem;
    transition: opacity 3s;
}

.nav{
    position: relative;
}

.nav-link{
    font-size: 1.7rem;
    padding: 0;
    margin: auto 0;
}

.nav-list-larger{
    position: fixed;
    top: 0;
    left: 0;
    width:0;
    height: 0;
    display:block;
    padding: 10.5rem;
    z-index: 1000;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity .3s;
}

.active .nav-list-larger{
    width:100%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
}

.active .nav-link-bag{
    opacity: 0;
    transition: opacity .3s;
}

.nav-lisy-larger .nav-item{
    width: 100%;
    justify-content: flex-start;
    border-bottom: 2px solid rgba(255, 255, 255,.1);
}

.nav-list-larger .nav-item: :nth-child(9){
    border-bottom: none;
}
 .active .av-list-larger .nav-item{
    animation: fadeIn 1s ease-in;
 }


@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
}

@media  screen and (max-width: 735px){
    @media  screen and (max-width: 1068px) {
        .MacBook{
            background: url(images/the-new-m2-macbook-air-is-up-for-preorder_62c84d0d678fe.png);
        }
        
        .iphone-13{
            background: url(images/OIP.jfif);
        }
    .watch{
        background: url(images/OIP\ \(3\).jfif);
    }
   
    .hero{
        height: 50rem;
        background-size: auto 54.8rem;
        background-position: bottom center;
        background-repeat: no-repeat;
    }

.title{
    padding-top: 3.7rem;
}

.title-heading{
    font-size: 1.9rem;
}

.title-heading-watch{
    margin-top: -.5rem;
    margin-bottom: 0;
}
.title-price{
    font-size: 1.4rem;
}

.cta{
    margin-top: .7rem;
}

.cta-link{
font-size: 1.9rem;
}
}













